@mixin title {
   margin: 10px 0;
   border-left: 4px solid rgb(73, 137, 221);
   line-height: 22px;
   padding-left: 15px;
   margin-left: 18px;
   font-weight: 700;
   text-align: left;

}

@mixin abs-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-ellipsis() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin text-ellipsis-multi($line) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}